<div class="team team__backdrop is-hidden">
  <div class="team__wrapper">
    <button class="team__modal-close-btn" type="button">
      <svg class="team__modal-close-icon" width="20" height="20">
        <use href="./sprite.svg#icon-cross-closed"></use>
      </svg>
    </button>
    <h2 class="team__title">DEVELOPER</h2>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__wrap">
        </div>
        <div class="team__box">
          <h2 class="team__member">Nik Kravchenko</h2>
          <p class="team__role">Full Stack Developer</p>
        </div>
      </li>
    </ul>
  </div>
</div>
